@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color:#4D4F62;
}

p {
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: 400;
}
.container {
    width:100%;
    max-width: 37.5rem;
    padding: 8.5rem 3.2rem 7.8rem 3.2rem;
    margin-left:50%;
    transform: translate(-50%);
}

.header {
    text-align: center;
}
h2 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.0166667rem;
}
h1 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.0166667rem;
    margin-top:0.1rem;
    margin-bottom:1.3rem;
}
.header p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.0104167rem;
}
.cards {
    display:flex;
    flex-direction: column;
    gap: 2.3rem;
    margin-top:7.6rem;
}
.card {
    width:31.1rem;
    height:22.2rem;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    border-radius: 0.8rem;
    padding:2.8rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.card h3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
}
.card p {
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: 0.00902778rem;
}
.card div {
    width:5.7rem;
    height:5.7rem;
    margin-top:3.3rem;
    align-self: flex-end;
}
.card img {
    width:5.7rem;
    height:5.7rem;
}
.card-supervisor {
    border-top: 0.355rem solid #44D3D2;
}
.card-team-builder {
    border-top: 0.355rem solid #EA5454;
}
.card-karma {
    border-top: 0.355rem solid #FCAE4A;
}
.card-calculator {
    border-top: 0.355rem solid #549EF2;
}

@media screen and (min-width:1150px) {
    .container {
        width:100%;
        max-width:1440px;
        padding: 8rem 0;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 3.6rem;
        line-height: 5.4rem; 
        letter-spacing: 0.025rem;
    }
    h1{
        font-size: 3.6rem;
        line-height: 5.4rem;
        letter-spacing: 0.025rem;
    }

    .cards {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "start mid1 end" "start mid2 end";
        gap:3rem;
        width:111rem;
    }
    .card-supervisor {
        grid-area: start;
        align-self: center;
    }
    .card-team-builder {
        grid-area: mid1;
    }
    .card-karma {
        grid-area: mid2;
    }
    .card-calculator {
        grid-area: end;
        align-self: center;
    }
    
    .card {
        width:35rem;
        height:25rem;
    }
    .card div {
        margin-top:4rem;
    }
}
